body{
    margin: 0;
    padding: 0;
}
.header{
    margin: 0;
    background-image: url("../images/donation1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 660px;
    background-size: cover;
    background-blend-mode:soft-light;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #0b0d1791;
    background-blend-mode: color;
}
.header-tital{
    font-family: 'Inter';
    font-size: 70px;
    margin-bottom: 0;
}
.header-discraiption{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.btn{
    background-color:rgba(245, 71, 71, 0.979);
    padding:14px 33px 14px 33px ;
    border: 0;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}
.donate-amount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}
.amount{
    display: flex;
    
}
.donate-today-titale{
    font-family: 'Inter';
    font-size: 40px;
    margin-top: 100px;
    font-weight: 700;
}
.donate-today-discaripttion{
    font-size: 20px;
    color: rgb(124, 124, 124);
    margin-bottom:30px;
    font-family: 'Poppins', sans-serif;
}
.taka{
    height: 81px;
    width: 116px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: gray;
    font-size: 35px;
    background-color: rgba(235, 231, 231, 0.322);
    padding: 16px 16px;
    font-family: 'Inter';
    margin-top: 20px;
    margin-bottom: 20px;
}
.taka:hover{
    background-color: rgba(238, 49, 49, 0.39);
    color: rgba(245, 71, 71, 0.979);
    border: 1px solid rgba(245, 71, 71, 0.979);
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 15px;
}

.mmain input{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 250px 10px 250px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
    outline: none;
    font-size: 15px;
}
.donate-plan{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.donate-plan-title{
    font-family: 'Inter';
    font-size: 40px;
    text-align: center;
}
.donate-plan-discraption{
    text-align: center;
    font-size: 20px;
    color: rgb(124, 124, 124);
    font-family: 'Poppins', sans-serif;
}
.donate-plan-option{
    display: flex;
    justify-content: center;
    
}
.option{
    padding: 54px 23px;
    margin-left: 24px;
    margin-top: 20px;
}
.donate-plan-option-titale{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
    font-family: 'Poppins'
}
.donate-plan-option-disraption{
    width: 315px;
    color: #707070;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.bloge1{
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 83px;
    
}
.img img{
    width: 572px;
}
.bloge1-tiitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
}
.bloge1-discraption{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}
.updates{
    text-align: center;
    margin-top: 100px;
}
.updates h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
}
.updates p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
}
.emai{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    margin-bottom: 50px;
}
.emai input{
    padding: 15px 108px 19px 22px ;
    border: none;
    outline: none;
    border-radius: 7px 0px 0px 7px; 
    background: #D9D9D9;

}
.updates-btn{
    background-color:rgba(245, 71, 71, 0.979);
    padding:14px 33px 14px 33px ;
    border: 0;
    border-radius: 0px 7px 7px 0px; 
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}
.footer{
    width: 100%;
    height: 177px;
    background-color: #0B0D17;
    text-align: center;
}
.footer img{
    width: 150px;
    margin-top: 30px;
}
.footer p{
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins';
}
@media screen and (max-width:576px) {
    .header{
        width: 100%;
    height: 660px;
    }
    .header-tital{
        font-size: 50px;
    }
    .amount{
        flex-direction: column;
        align-items: center;
    }
    .mmain input{
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 10px 50px 10px 50px;
    }
    .donate-plan-option{
        flex-direction: column;
    }
    .option{
        margin: 20px 0 0 0;
    }
    .img img{
        width: 100%;
    }
    .blog{
        padding: 10px;
    }
    .bloge1{
        flex-direction: column-reverse;
        gap: 10px;
        margin-top: 50px;
    }
    .min-bloge{
            flex-direction: column;
            gap: 10px;
    }
    .emai input{
        padding: 15px 40px 19px 10px ;   
    }
    .footer{
        margin-top:0px;
        height:130px
    }
    
}
@media screen and (min-width:577px) and (max-width:992px) {
    .donate-plan-option{
        flex-direction: column;
    }
    .bloge1{
        flex-direction: column-reverse;
    }
    .min-bloge{
        flex-direction: column;
    }
    .option{
        text-align: center;
    }
    .donate-plan-option-disraption{
        text-align: center;
        width: 100%;
    }
}
.haid{
    display: none;
}